body{

background:#edf2f7;

font-family:Poppins,sans-serif;

}

.sar-page{

width:90%;

margin:30px auto;

background:white;

border-radius:15px;

padding:25px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.sar-header{

background:#0B4DA2;

color:white;

padding:15px;

text-align:center;

border-radius:10px;

font-weight:bold;

}

.sar-title{

text-align:center;

margin:20px;

color:#0B4DA2;

font-size:34px;

}

.sar-table{

width:100%;

border-collapse:collapse;

}

.sar-table th{

background:#0B4DA2;

color:white;

padding:15px;

font-size:18px;

}

.sar-table td{

padding:15px;

border:1px solid #ddd;

font-size:17px;

}

.heading{

background:#dbe8ff;

font-weight:bold;

text-align:center;

font-size:18px;

}

.sar-table tr:hover{

background:#eef5ff;

transition:.3s;

}

.sar-table a{

text-decoration:none;

color:#0B4DA2;

font-weight:600;

}

.sar-table a:hover{

color:red;

}